body {
    font-family: Arial, sans-serif;
    background-color: #45a049;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Corrected border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); /* Adjust the blur value as needed */
}

h1, h2 {
    color: #000000; /* White text color */
    margin-bottom: 20px;
    font-size: 2em;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000; /* White button background */
    color: #000000; /* Black button text color */
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Button background color on hover */
}